html {
    background-color: #222;
}

.orbiter {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: lightblue;
    position: relative;
}

.orbiter-path {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px dashed #444;
    border-radius: 50%;
}

.label {
    position: absolute;
}


.vacuum {
    position: absolute;
    background-color: red;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
}