html{
    background-color: #333;
}

.orbiter {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: lightblue;
    position: relative;
    top: 50px;
}

.label {
    position: absolute;
}

