<div [ngClass]="{vacuum: orbiter.isStar}">
    <div
        [ngClass]="{orbiter: true, 'star': orbiter.isStar}"
        [style.width.px]="orbiter.size"
        [style.height.px]="orbiter.size"
        [style.top.px]="orbiter.calculateTopPosition()"
        [style.left.px]="orbiter.calculateLeftPosition()"
        [style.lineHeight.px]="orbiter.size"
    >
        <span
            class="label"
            [style.left.px]="orbiter.size"
        >
            {{ orbiter.name }}
        </span>

        <ng-container *ngFor="let child of orbiter.children">
            <dg-orbiter [orbiter]="child"></dg-orbiter>
        </ng-container>
    </div>
    <div
        class="orbiter-path"
        *ngIf="!orbiter.isStar"
        [style.width.px]="this.orbiter.pathDiameter"
        [style.height.px]="this.orbiter.pathDiameter"
        [style.top.px]="orbiter.pathPosition"
        [style.left.px]="orbiter.pathPosition"
    ></div>
</div>
