@import "node_modules/bootstrap/scss/bootstrap";

$blue: #42319f;
$pink: #cc00ff;
$green: #44775b;
$dark-pink: #5b1c6b;
$transparent-blue: rgba(77, 66, 138, 0.801);

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {   
    border-color: $blue;
    &:focus {
        // border-color: rgba(204, 0, 255, 0.8);
        border-color: $green;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(204, 0, 255, 0.6);
        outline: 0 none;
        color: $pink;
    }
    
  
}

body {
    background-color: #333;
}

.btn-outline-primary {
    color: $pink;
    border-color: $blue;

    &:hover {
        border-color: $green;
        background-color: $transparent-blue;
        color: $pink;
    }

    &:active {
        border-color: $pink !important;
        background-color: $green !important;
    }
}

